@using Microsoft.Web.Mvc
@model MvcAjaxGridSample.Models.BookViewModel[]

<tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td>
                @Html.Button("Edit", "Edit", HtmlButtonType.Button, null, new {@class = "btn-default btn-xs btn", data_id = book.Id, data_role = "recordEdit"})
                @Html.Button("Delete", "Delete", HtmlButtonType.Button, null, new {@class = "btn-default btn-xs btn", data_id = book.Id, data_role = "recordDelete"})
            </td>
            <td>@book.Title</td>
            <td>@book.IssueYear</td>
        </tr>
    }
</tbody>