@using Microsoft.Web.Mvc
@model MvcAjaxGridSample.Models.GridFilter<MvcAjaxGridSample.Models.BookViewModel>

<tr>
    <td class="col-sm-2">
        @Html.Button("Apply", "Apply", HtmlButtonType.Button, null, new {@class = "btn-default btn-xs btn"})
        @Html.Button("Clear", "Clear", HtmlButtonType.Button, null, new {@class = "btn-default btn-xs btn"})
    </td>
    @foreach (var filter in Model.Fields)
    {
        <td>@Html.TextBox(filter.Name, filter.Value, new {data_role="filter"})</td>
    }
</tr>
