@model MvcAjaxGridSample.Models.GridViewModel<MvcAjaxGridSample.Types.DataModel.Book>


@using (Ajax.BeginForm("CommandDispatcher", "Home", new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "ajaxGrid"}))
{
    <div id="ajaxGrid" class="container">
        @Html.Partial("_GridViewBooks", Model)
    </div>
}