@model MvcAjaxGridSample.Models.GridViewModel<MvcAjaxGridSample.Models.BookViewModel>

@section scripts{
    <script>
        $(document).ready(function() {
            $("#ajaxGrid").ajaxGrid({
                url: {
                    sort: '@Url.Action("Sort", "Home")'
                }
            });
        });
    </script>
}
<div id="ajaxGrid" class="container">
    @Html.Partial("_Grid", Model)
</div>
<div id="editBookDialogContent" class="container">
    
</div>