@model MvcAjaxGridSample.Models.GridViewModel<MvcAjaxGridSample.Types.DataModel.Book>

@section scripts {
    <script>
        function ShowEditDialog() {
            $('#editBookDialog').modal();
        }
        function CloseEditDialog() {
            $('#editBookDialog').modal('hide');
        }
        function ShowErrorsInDialog(err) {
            var $form = $("[role='editDialog']");
            var validator = $form.validate();
            var errors = $.parseJSON(err);
            validator.showErrors(errors);
        }
        function GetAntiForgeryToken() {
            var tokenField = $("input[type='hidden'][name$='RequestVerificationToken']");
            if (tokenField.length == 0) {
                return null;
            } else {
                return {
                    name: tokenField[0].name,
                    value: tokenField[0].value
                };
            }
        }

        $.ajaxPrefilter(
            function (options, localOptions, jqXHR) {
                if (options.type !== "GET") {
                    var token = GetAntiForgeryToken();
                    if (token !== null) {
                        if (options.data.indexOf("X-Requested-With") === -1) {
                            options.data = "X-Requested-With=XMLHttpRequest" + ((options.data === "") ? "" : "&" + options.data);
                        }
                        options.data = options.data + "&" + token.name + '=' + token.value;
                    }
                }
            }
         );
    </script>
}

@using (Ajax.BeginForm("CommandDispatcher", "Home", new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "ajaxGrid"}))
{
    <div id="ajaxGrid" class="container">
        @Html.Partial("_GridViewBooks", Model)
    </div>
}
@using (Ajax.BeginForm("Save", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ajaxGrid", OnFailure = "ShowErrorsInDialog", OnSuccess = "CloseEditDialog" }, new{role="editDialog"}))
{
    <div id="editBookDialogContent" class="container"></div>
}